node/gateway.json
[
    {
        "id": "1cfbc17a33440ce4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "061a7eaef87305c7",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "0e2f69c1f1d24e9c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "wi-wu-sunny",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "baa7c407f1d3dad5",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Wedro - Gateway dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "14e34afbafbd96d1",
        "type": "ui_group",
        "name": "Meteostation Dashboard",
        "tab": "0e2f69c1f1d24e9c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e548322708e6e913",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "094d98e84ba5c8c9",
        "type": "ui_group",
        "name": "Live measurements",
        "tab": "5544be34f66a3d62",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71c3c34dd50e9506",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "gatewayDB",
        "name": ""
    },
    {
        "id": "5544be34f66a3d62",
        "type": "ui_tab",
        "name": "Weather Station",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca7857eb0c0c1698",
        "type": "serial in",
        "z": "1cfbc17a33440ce4",
        "name": "Weatherstation",
        "serial": "e548322708e6e913",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "5e8c9503b7d30f50"
            ]
        ]
    },
    {
        "id": "fd83b9d0680f3312",
        "type": "ui_gauge",
        "z": "1cfbc17a33440ce4",
        "name": "",
        "group": "094d98e84ba5c8c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "˚C",
        "format": "{{msg.payload.Temperature}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "5e8c9503b7d30f50",
        "type": "function",
        "z": "1cfbc17a33440ce4",
        "name": "Separating function",
        "func": "const payloadArr = msg.payload.split(',')\nmsg.payload = ({humidity : payloadArr[0], temperature: payloadArr[1].slice(0,-2)});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "fd83b9d0680f3312",
                "79c2221083408c46",
                "3dc4afcee2cfd25d"
            ]
        ]
    },
    {
        "id": "79c2221083408c46",
        "type": "ui_gauge",
        "z": "1cfbc17a33440ce4",
        "name": "",
        "group": "094d98e84ba5c8c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{msg.payload.Humidity}}",
        "min": "-50",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "3dc4afcee2cfd25d",
        "type": "batch",
        "z": "1cfbc17a33440ce4",
        "name": "Aggregation timer",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "10",
        "allowEmptySequence": true,
        "topics": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "90666413a9c12e6c"
            ]
        ]
    },
    {
        "id": "90666413a9c12e6c",
        "type": "join",
        "z": "1cfbc17a33440ce4",
        "name": "Array join",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "ae3a2f3673ed74bf"
            ]
        ]
    },
    {
        "id": "ae3a2f3673ed74bf",
        "type": "function",
        "z": "1cfbc17a33440ce4",
        "name": "Get average",
        "func": "const count = msg.payload.length;\nlet humAvg = 0;\nlet temAvg = 0;\nfor(let i = 0; i < count; i++){\n    if(msg.payload[i] !== null){\n        if(msg.payload[i].humidity !== null){\n            humAvg += parseFloat(msg.payload[i].humidity);\n        }\n        if(msg.payload[i].Temperature !== null){\n            temAvg += parseFloat(msg.payload[i].temperature);\n        }\n    }\n    else return [null, null]\n}\nhumAvg = humAvg / count;\nhumAvg = humAvg/100;\ntemAvg = temAvg / count;\nmsg.payload = {\n    humidity: humAvg,\n    temperature: temAvg,\n    measuredAt: Date.now()\n}\nlet newMsg = { payload: {} };\nreturn [msg, newMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 520,
        "wires": [
            [
                "ed65aeb9be887967"
            ],
            [
                "ee6ea4dc684d6acb"
            ]
        ]
    },
    {
        "id": "31cb7383a0ffa9a9",
        "type": "http request",
        "z": "1cfbc17a33440ce4",
        "name": "Send data to Wedro",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://wedro-api.herokuapp.com/api/measurement",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1300,
        "y": 940,
        "wires": [
            [
                "d514e892a9019741",
                "3f770e34521ef7f6"
            ]
        ]
    },
    {
        "id": "d514e892a9019741",
        "type": "function",
        "z": "1cfbc17a33440ce4",
        "name": "Check success",
        "func": "if (msg.statusCode === 200)\n{\n    const measurement = JSON.parse(msg.payload)\n    const lastSuccessful = measurement.measuredAt;\n    let removeBefore = lastSuccessful - 20000//3600000;\n    let msgRemove = { payload: { measuredAt: { $lt: removeBefore} }};\n    let msgUpdate = { query: { _id: '626df2d3425fb5028aaa2944'}, payload:{ measuredAt: measurement.measuredAt}}\n    return [null, msgRemove, msgUpdate]\n}\nelse if(msg.statusCode === 403){\n    msg.payload = {}\n    return[msg,null,null]\n}\nelse\n{\n    return null\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 1020,
        "wires": [
            [
                "3b83c05dfccf9964"
            ],
            [
                "246d7cb8b43e941a"
            ],
            [
                "ceb9d7360ac32092"
            ]
        ]
    },
    {
        "id": "3f770e34521ef7f6",
        "type": "debug",
        "z": "1cfbc17a33440ce4",
        "name": "Debug message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 940,
        "wires": []
    },
    {
        "id": "ed65aeb9be887967",
        "type": "mongodb out",
        "z": "1cfbc17a33440ce4",
        "mongodb": "71c3c34dd50e9506",
        "name": "Save measurement to DB",
        "collection": "measurements",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "ceb9d7360ac32092",
        "type": "mongodb out",
        "z": "1cfbc17a33440ce4",
        "mongodb": "71c3c34dd50e9506",
        "name": "Save lastSuccessful to DB",
        "collection": "lastSuccessful",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 1640,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3c90d1218ebfbb55",
        "type": "mongodb in",
        "z": "1cfbc17a33440ce4",
        "mongodb": "71c3c34dd50e9506",
        "name": "Find all unsuccessful",
        "collection": "measurements",
        "operation": "find",
        "x": 860,
        "y": 700,
        "wires": [
            [
                "d4f7f28eab519d7d"
            ]
        ]
    },
    {
        "id": "ee6ea4dc684d6acb",
        "type": "mongodb in",
        "z": "1cfbc17a33440ce4",
        "mongodb": "71c3c34dd50e9506",
        "name": "Find lastSuccessful",
        "collection": "lastSuccessful",
        "operation": "find",
        "x": 710,
        "y": 580,
        "wires": [
            [
                "fa3402e52c307af4"
            ]
        ]
    },
    {
        "id": "fa3402e52c307af4",
        "type": "function",
        "z": "1cfbc17a33440ce4",
        "name": "Create query",
        "func": "msg.payload = {  measuredAt: { $gt: msg.payload[0].measuredAt } };\nmsg.projection = { _id:0};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 640,
        "wires": [
            [
                "3c90d1218ebfbb55"
            ]
        ]
    },
    {
        "id": "246d7cb8b43e941a",
        "type": "mongodb out",
        "z": "1cfbc17a33440ce4",
        "mongodb": "71c3c34dd50e9506",
        "name": "remove before last hour",
        "collection": "measurements",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 1630,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d4f7f28eab519d7d",
        "type": "function",
        "z": "1cfbc17a33440ce4",
        "name": "Get token",
        "func": "msg.data = msg.payload\nmsg.payload = {}\nif(msg.data.length>0){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 760,
        "wires": [
            [
                "32265ac6dbcac81b",
                "3f770e34521ef7f6"
            ]
        ]
    },
    {
        "id": "10ec24efb04a8f12",
        "type": "http request",
        "z": "1cfbc17a33440ce4",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://wedro-api.herokuapp.com/api/weather-station/authorize",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1590,
        "y": 740,
        "wires": [
            [
                "76b89d3caf09d0ed"
            ]
        ]
    },
    {
        "id": "20ffff7416988186",
        "type": "inject",
        "z": "1cfbc17a33440ce4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 1430,
        "y": 600,
        "wires": [
            [
                "3b83c05dfccf9964"
            ]
        ]
    },
    {
        "id": "240a89c4a9ea2ed1",
        "type": "mongodb out",
        "z": "1cfbc17a33440ce4",
        "mongodb": "71c3c34dd50e9506",
        "name": "Save token to DB",
        "collection": "token",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 1850,
        "y": 860,
        "wires": []
    },
    {
        "id": "76b89d3caf09d0ed",
        "type": "function",
        "z": "1cfbc17a33440ce4",
        "name": "",
        "func": "if(msg.statusCode === 200){\n    msg.query = { _id: '6270ab91425fb5028aaa2aa5'};\n    return [null,msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 800,
        "wires": [
            [],
            [
                "240a89c4a9ea2ed1"
            ]
        ]
    },
    {
        "id": "32265ac6dbcac81b",
        "type": "mongodb in",
        "z": "1cfbc17a33440ce4",
        "mongodb": "71c3c34dd50e9506",
        "name": "Find token",
        "collection": "token",
        "operation": "find",
        "x": 1050,
        "y": 820,
        "wires": [
            [
                "021fc925814054e0"
            ]
        ]
    },
    {
        "id": "021fc925814054e0",
        "type": "function",
        "z": "1cfbc17a33440ce4",
        "name": "Create request",
        "func": "msg.headers = {}\nmsg.headers[\"Authorization\"] = \"Bearer \" + msg.payload[0].token\nmsg.payload = msg.data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 880,
        "wires": [
            [
                "31cb7383a0ffa9a9"
            ]
        ]
    },
    {
        "id": "3b83c05dfccf9964",
        "type": "function",
        "z": "1cfbc17a33440ce4",
        "name": "Add secret",
        "func": "msg.payload = {\"secret\": \"Test123\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 660,
        "wires": [
            [
                "10ec24efb04a8f12"
            ]
        ]
    },
    {
        "id": "7aded6ebfc022023",
        "type": "inject",
        "z": "1cfbc17a33440ce4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 980,
        "wires": [
            [
                "7d0fedac89141f08"
            ]
        ]
    },
    {
        "id": "7d0fedac89141f08",
        "type": "ui_text",
        "z": "1cfbc17a33440ce4",
        "group": "094d98e84ba5c8c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Measurements in storage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 980,
        "wires": []
    },
    {
        "id": "54367ec789b4a8f3",
        "type": "inject",
        "z": "1cfbc17a33440ce4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "42",
        "payloadType": "num",
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "e6f4c3605f54b96b"
            ]
        ]
    },
    {
        "id": "e6f4c3605f54b96b",
        "type": "ui_gauge",
        "z": "1cfbc17a33440ce4",
        "name": "",
        "group": "094d98e84ba5c8c9",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Storage space",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 680,
        "y": 1040,
        "wires": []
    }
]